.main-container{
    background: rgb(20, 19, 19);
    height: 100%;
}
.book-container{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-page{
    width: 60%;
}

.page-info{
    font-weight: bold;
}

.page-buttons{
    display: flex;
    gap: 5px;
    position: fixed;
    right: 20;
    bottom: 20;
}

.page-button{
    border:0px solid;
    border-radius:5px;
    padding: 10px 25px;
    cursor: pointer;
}