
  .detail-container{
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
  }

  .book-detail-container {
      display: flex;
      background: #e7e7e7;
      -webkit-box-shadow: 0px 10px 22px -7px rgba(0,0,0,0.45);
      -moz-box-shadow: 0px 10px 22px -7px rgba(0,0,0,0.45);
      box-shadow: 0px 10px 22px -7px rgba(0,0,0,0.45);
      padding: 20px 40px;
      border:0px solid;
      border-radius: 16px;
  }

  .book-image img {
      max-width: 200px;
      border:0px solid;
      border-radius: 8px;
  }

  .book-info {
      margin-left: 20px; 
  }

