<div [@routerTransition]>
  <div class="search-container">
    <app-search></app-search>
  </div>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "MrGut Library" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let book of books">
        <app-book-card [book]="book"></app-book-card>
      </div>
    </div>
  </div>
</div>
